The following is our notebook for obtaining, cleaning, and organizing data. Data was saved from this notebook and then utilized in our analysis notebook so that we would not need to call the APIs every time.

# Part 1A: Obtaining and Organizing Property Data

Using Socrata, we imported two datasets using the New York City Open Data Portal APIs. It included a dataset of property valuations in New York City, and another dataset listing the reassesment actions. App_tokens were used to adjust limits for valuation results and testing our code on smaller/larger datasets.

In [1]:
import pandas as pd
import geopandas as gpd
from sodapy import Socrata
import matplotlib.pyplot as plt
import contextily as ctx

In [2]:
client = Socrata("data.cityofnewyork.us", '9llM0ejMVTKfRxS1XlvL7gXjU')

#first one is the property valuation and assessment dataset
vresults = client.get("yjxr-fw8i", content_type='geojson', year = '2017/18', limit=10000000)

#second one is the assessment actions dataset
aresults = client.get("4nft-bihw", content_type='json', limit=100000)

In [17]:
value_gdf = gpd.GeoDataFrame.from_features(vresults, crs='EPSG:4326')
actions_df = pd.DataFrame.from_records(aresults)

Dropping properties in reassessment dataset with no actual reassessments, and dropping properties from valuation dataset that do not actually have values.

In [18]:
actions_df['granted_reduction_amount']=pd.to_numeric(actions_df['granted_reduction_amount'])
actions_df=actions_df[actions_df['granted_reduction_amount']>0]

In [19]:
value_gdf['avtot']=pd.to_numeric(value_gdf['avtot'])
value_gdf=value_gdf[value_gdf['avtot']>0]

In order to combine the valuation and assessment datasets, a new column was made that combines the borough, block, and lot numbers (keeping it as a string).

In [20]:
value_gdf['BBB'] = value_gdf['boro'] + '-' + value_gdf['block'] + '-' + value_gdf['lot']
value_gdf['BBB']

actions_df['BBB'] = actions_df['borough_code'] + '-' + actions_df['block_number'] + '-' + actions_df['lot_number']
actions_df['BBB']

actions_df.set_index('BBB', inplace=True)
value_gdf.set_index('BBB', inplace=True)

Trying to figure out what to drop in order to get clean data with no repeats

In [21]:
actions_df['BBB_test'] = actions_df['borough_code'] + '-' + actions_df['block_number'] + '-' + actions_df['lot_number']
print(len(actions_df))
print(len(actions_df[actions_df.duplicated('BBB_test')]))

11773
2006

In [22]:
value_gdf['BBB_test'] = value_gdf['boro'] + '-' + value_gdf['block'] + '-' + value_gdf['lot']
print(len(value_gdf))
print(len(value_gdf[value_gdf.duplicated('BBB_test')]))

1094727
1585

In [23]:
#dropping duplicate BBBs
actions_df_noduplicates = actions_df.drop_duplicates('BBB_test')
print(len(actions_df_noduplicates))

value_gdf_noduplicates = value_gdf.drop_duplicates('BBB_test')
print(len(value_gdf_noduplicates))

9767
1093142

In [24]:
#dropping some columns to make the file smaller
value_gdf_noduplicates= value_gdf_noduplicates.drop(columns=['nta', 'zip', 'blddepth', 'bldfront', 'bldgcl',
       'census_tract', 'ltfront', 'community_board', 'period', 'council_district',
       'ltdepth'])

In [25]:
value_gdf_noduplicates.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 1093142 entries, 1-16-3633 to 5-7826-224
Data columns (total 30 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   geometry   1063379 non-null  geometry
 1   avland     1093142 non-null  object
 2   latitude   1063379 non-null  object
 3   stories    1045584 non-null  object
 4   avtot      1093142 non-null  int64
 5   easement   860 non-null      object
 6   valtype    1093142 non-null  object
 7   exland     1093142 non-null  object
 8   year       1093142 non-null  object
 9   taxclass   1093142 non-null  object
 10  longitude  1063379 non-null  object
 11  block      1093142 non-null  object
 12  avtot2     312436 non-null   object
 13  excd1      534184 non-null   object
 14  bble       1093142 non-null  object
 15  staddr     1093101 non-null  object
 16  exmptcl    14331 non-null    object
 17  avland2    312436 non-null   object
 18  lot        1093142 non-null  object
 19  boro       1093142 non-null  object
 20  fullval    1093142 non-null  object
 21  ext        352652 non-null   object
 22  bin        1057875 non-null  object
 23  excd2      66232 non-null    object
 24  owner      1078014 non-null  object
 25  extot      1093142 non-null  object
 26  extot2     136711 non-null   object
 27  exland2    86769 non-null    object
 28  borough    1063678 non-null  object
 29  BBB_test   1093142 non-null  object
dtypes: geometry(1), int64(1), object(28)
memory usage: 258.5+ MB

In [26]:
value_gdf_noduplicates.to_file('/Users/jacobbasinger/Desktop/uds-project-1/valuegdf.geoJSON', driver='GeoJSON')

In [27]:
actions_df_noduplicates.to_csv('/Users/jacobbasinger/Desktop/uds-project-1/actionsdf.csv')

We then conducted an inner join on the data with no duplicates, so that each property reassessment had linked with its valuation.

In [28]:
inner_joined_gdf = value_gdf_noduplicates.join(actions_df_noduplicates, how='inner', rsuffix=('_actions'))

And then creating a new column that shows the percent reduction

In [29]:
#making them numeric first
inner_joined_gdf['granted_reduction_amount']=pd.to_numeric(inner_joined_gdf['granted_reduction_amount'])
inner_joined_gdf['avtot']=pd.to_numeric(inner_joined_gdf['avtot'])

#making the new column
inner_joined_gdf['reduction_scaled']=inner_joined_gdf['granted_reduction_amount']/inner_joined_gdf['avtot']

print(len(inner_joined_gdf))
inner_joined_gdf.head()

9711

,geometry,avland,latitude,stories,avtot,easement,valtype,exland,year,taxclass,...,borough_code,block_number,lot_number,tax_year,owner_name,property_address,granted_reduction_amount,tax_class_code,BBB_test_actions,reduction_scaled
BBB,,,,,,,,,,,,,,,,,,,,,
1-274-37,None,252900,None,None,252900,None,AC-TR,0,2017/18,4,...,1,274,37,2018,MADISON & MARKET STRE,MADISON STREET,126450.0,4,1-274-37,0.500000
1-1305-128,None,24300,None,None,24300,None,AC-TR,0,2017/18,4,...,1,1305,128,2018,RLJ III - DBT METROPO,EAST 51 STREET,19800.0,4,1-1305-128,0.814815
2-3748-28,None,111600,None,None,111600,None,AC-TR,0,2017/18,4,...,2,3748,28,2018,RF CROES LLC,FTELEY AVENUE,28100.0,4,2-3748-28,0.251792
3-441-33,None,66150,None,None,66150,None,AC-TR,0,2017/18,4,...,3,441,33,2018,DSSR REALTY CORP.,4 AVENUE,18900.0,4,3-441-33,0.285714
3-3874-15,None,91800,None,None,91800,None,AC-TR,0,2017/18,4,...,3,3874,15,2017,HAYAA BLVD LLC,SNEDIKER AVENUE,18360.0,4,3-3874-15,0.200000

In [30]:
#tests to see if the joins have bad values
print(len(inner_joined_gdf[inner_joined_gdf['reduction_scaled']==float('inf')]))
print(len(inner_joined_gdf[inner_joined_gdf['reduction_scaled']==0]))
print(len(inner_joined_gdf[inner_joined_gdf['reduction_scaled']>1]))

0
0
40

It looks like some of the data does not have valid geometry **SHOULD WE DROP IT??**

In [31]:
inner_joined_gdf['valid_geo'] = inner_joined_gdf['geometry'].isna()

In [32]:
len(inner_joined_gdf[inner_joined_gdf['valid_geo']==True])

148

This shows that there are 148 entries without valid geometries

Dropping the properties with reductions that are greater than 100% (meaning reductions that are for more than the total value of the property)

In [33]:
inner_joined_gdf=inner_joined_gdf[inner_joined_gdf['reduction_scaled']<1]

In [34]:
inner_joined_gdf.to_file('/Users/jacobbasinger/Desktop/uds-project-1/finalpropertydata.geoJSON', driver='GeoJSON')

In [35]:
#import numpy as np
#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

In [36]:
#inner_joined_gdf[inner_joined_gdf['exmptcl']=='X1']

In [37]:
#inner_joined_gdf_minusx1=inner_joined_gdf[inner_joined_gdf['exmptcl']!='X1']

In [38]:
#len(inner_joined_gdf_minusx1)

In [39]:
#len(inner_joined_gdf_minusx1[inner_joined_gdf_minusx1['reduction_scaled']>1])

In [40]:
#inner_joined_gdf_minusx1[inner_joined_gdf_minusx1['reduction_scaled']>1]

# Part 1B: Obtaining and Organizing Census Data

We looked to analyze our datasets with connection to Census Tract information. We imported demographic information using Cenpy, and obtained it by County rather than the whole city due to mapping issues

In [41]:
from cenpy import products

def borough_census(borough):
    df=products.ACS(2017).from_county(borough+', NY', level='tract',
                                        variables=['B19019_001E', 'B01003_001E', '^B02001', 'B03003_003E', 'B25003_001E', 'B25003_002E', 'B25003_003E', 'B09001_001E', 'B01002_001E'])
    df.rename(columns={'B19019_001E':'median_HH_income', 'B01003_001E':'total_population', 'B02001_001E':'total_population_race','B02001_002E':'total_white'}, inplace=True)
    df.rename(columns={'B02001_003E':'total_black', 'B02001_004E':'total_americanindian', 'B02001_005E':'total_asian','B02001_006E':'total_hawaiian'}, inplace=True)
    df.rename(columns={'B02001_007E':'total_otherrace', 'B02001_008E':'total_twoplusraces', 'B03003_003E':'total_hisp_latino','B09001_001E':'pop_under18','B01002_001E':'median_age'}, inplace=True)
    df.drop(columns=['total_population_race', 'B02001_009E', 'B02001_010E'], inplace=True)
    df['pct_renter'] = df['B25003_003E']/df['B25003_001E']*100
    return df

In [42]:
#getting census data for each borough
manhattandf=borough_census('New York County')
brooklyndf=borough_census('King County')
bronxdf=borough_census('Bronx County')
queensdf=borough_census('Queens County')
statendf=borough_census('Richmond County')

boroughdfs=[manhattandf, brooklyndf, bronxdf, queensdf, statendf]
censusGdf=pd.concat(boroughdfs)
censusGdf.drop(columns=['B25003_001E', 'B25003_002E',
       'B25003_003E', 'NAME', 'state'], inplace=True)

/Users/jacobbasinger/opt/anaconda3/envs/uds/lib/python3.8/site-packages/cenpy/tiger.py:186: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if kwargs.get("returnGeometry", "true") is "false":
/Users/jacobbasinger/opt/anaconda3/envs/uds/lib/python3.8/site-packages/cenpy/tiger.py:186: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if kwargs.get("returnGeometry", "true") is "false":

KeyError: 'Response from API is malformed. You may have submitted too many queries, formatted the request incorrectly, or experienced significant network connectivity issues. Check to make sure that your inputs, like placenames, are spelled correctly, and that your geographies match the level at which you intend to query. The original error from the Census is:\\n(API ERROR 400:Unable to complete operation.([]))'

In [155]:
sjoindf = censusGdf.to_crs("EPSG:3857").sjoin(inner_joined_gdf.to_crs("EPSG:3857"),how='left')
sjoindf.head()

,GEOID,median_age,total_population,total_white,total_black,total_americanindian,total_asian,total_hawaiian,total_otherrace,total_twoplusraces,total_hisp_latino,pop_under18,median_HH_income,county,tract,pct_renter,geometry,index_right,nta,avland,latitude,zip,stories,avtot,easement,valtype,exland,blddepth,year,taxclass,longitude,bldfront,bldgcl,block,avtot2,excd1,bble,staddr,exmptcl,avland2,census_tract,lot,boro,ltfront,fullval,ext,bin,excd2,owner,extot,extot2,exland2,community_board,borough,period,council_district,ltdepth,BBB,borough_code,block_number,lot_number,tax_year,owner_name,property_address,granted_reduction_amount,tax_class_code,BBB_actions,reduction_scaled,valid_geo
0,36061031900,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,061,031900,NaN,"POLYGON ((inf inf, inf inf, inf inf, inf inf, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,36061006900,35.2,2568.0,2037.0,53.0,0.0,293.0,0.0,57.0,128.0,161.0,341.0,198636.0,061,006900,60.673235,"POLYGON ((inf inf, inf inf, inf inf, inf inf, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,36061010300,33.6,1674.0,1130.0,90.0,4.0,324.0,5.0,10.0,111.0,143.0,75.0,98901.0,061,010300,87.114846,"POLYGON ((inf inf, inf inf, inf inf, inf inf, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,36061008700,35.8,6815.0,5493.0,85.0,0.0,579.0,0.0,478.0,180.0,1165.0,610.0,153350.0,061,008700,65.910868,"POLYGON ((inf inf, inf inf, inf inf, inf inf, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,36061011100,33.4,5012.0,3111.0,367.0,0.0,1241.0,0.0,110.0,183.0,925.0,440.0,105887.0,061,011100,89.008942,"POLYGON ((inf inf, inf inf, inf inf, inf inf, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [143]:
#making a new df with the total reduction amount granted per tract and joining it to census df
reductionpertract = sjoindf.groupby('tract')[['granted_reduction_amount']].sum()
reductionpertract.rename(columns={'granted_reduction_amount':'total_tract_reduction'}, inplace=True)
censusjoined = censusGdf.join(reductionpertract, on='tract')

In [144]:
#making a new df with the total number of reductions per tract
#adding another column for the total number of property reductions in a census tract
numberreductions = sjoindf.groupby('tract')[['tract']].count()
numberreductions.rename(columns={'tract':'number_reductions'}, inplace=True)
censusjoined = censusjoined.join(numberreductions, on='tract')
censusjoined.head()

,GEOID,median_age,total_population,total_white,total_black,total_americanindian,total_asian,total_hawaiian,total_otherrace,total_twoplusraces,total_hisp_latino,pop_under18,median_HH_income,county,tract,pct_renter,geometry,total_tract_reduction,number_reductions
0,36061031900,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,061,031900,NaN,"POLYGON ((-8240500.56000 4968891.47000, -82398...",0.0,3
1,36061006900,35.2,2568.0,2037.0,53.0,0.0,293.0,0.0,57.0,128.0,161.0,341.0,198636.0,061,006900,60.673235,"POLYGON ((-8239939.84000 4972655.36000, -82399...",0.0,4
2,36061010300,33.6,1674.0,1130.0,90.0,4.0,324.0,5.0,10.0,111.0,143.0,75.0,98901.0,061,010300,87.114846,"POLYGON ((-8237738.16000 4975861.70000, -82377...",0.0,2
3,36061008700,35.8,6815.0,5493.0,85.0,0.0,579.0,0.0,478.0,180.0,1165.0,610.0,153350.0,061,008700,65.910868,"POLYGON ((-8237672.93000 4974484.15000, -82376...",0.0,3
4,36061011100,33.4,5012.0,3111.0,367.0,0.0,1241.0,0.0,110.0,183.0,925.0,440.0,105887.0,061,011100,89.008942,"POLYGON ((-8237493.26000 4976308.14000, -82374...",0.0,2